# Standar Swift Package Manager
.build/
Packages/

# Standar macOS
.DS_Store

# Xcode
# Abaikan file user-specific, tapi izinkan file shared
# ===================================================
build/
DerivedData/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.swiftpm/xcode/xcuserdata/

# Abaikan file lain yang tidak perlu di-commit
# ========================================
*.swp
*~